/*--------------------------galeria grid---------------------------------*/
/* -------gallery-------- */
.padding__img {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}
.padding__container {
  padding: 2rem;
}
.gallery__img {
  width: 18em;
  height: 18em;
  transition: 0.3s ease all;
  &:hover {
    transform: scale(1.01);
  }
}
