/*--------------------------galeria grid---------------------------------*/
/* -------gallery-------- */
.padding__img {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}
.padding__container {
  padding: 2rem;
}
.button__gallery {
  padding: 1.5rem 2rem 1.5rem 2rem;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}
.gallery__img {
  width: 18em;
  height: 18em;
  transition: 0.3s ease all;
  &:hover {
    transform: scale(1.01);
  }
}
